<div class="main-page">
  <div class="table">
    <div class="table__create-btn-wrap">
      <app-common-button (btnClick)="createUser()"
        >Create User</app-common-button
      >
    </div>
    <div class="table__user-list-wrap">
      <app-user-list
        [users]="users()"
        (selectUser)="selectUser($event)"
      ></app-user-list>
    </div>
  </div>
  @if (selectedUser() || createNewUser()) {
    <app-add-or-edit-user
      class="add-edit-user"
      [users]="users()"
      [selectedUser]="selectedUser()"
      [createNewUser]="createNewUser()"
      (close)="closeForm()"
      (deleteUser)="deleteUser()"
      (editUser)="editUser($event)"
      (addNewUser)="addNewUser($event)"
    ></app-add-or-edit-user>
  }
</div>

<app-notification />
